*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
    
}






/*====CABEÇALHO====*/




header{
    height: 15vh;
    width: 100%;
    float: left;
    margin-bottom: 5vh;

}






/*====CONTEÚDO PRINCIPAL====*/




main{
    height: 100vh;
    background: -webkit-linear-gradient(-5deg, #9999ff, #e0e0e0);
    background: -moz-linear-gradient(-5deg, #9999ff, #e0e0e0);
    background: -o-linear-gradient(-5deg, #9999ff, #e0e0e0);
    background: linear-gradient(-5deg, #9999ff, #e0e0e0);
    background-color: #9999ff;

}

.area-formulario{
    width: clamp( 200px, 80vw, 700px);
    margin: 0 auto;
}

#login{
    clear: both;
    background: #f0f0f0;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imagem-usuario{
    width: 30vh;
    height: 30vh;
    border: .2px solid black;
    margin: 30px 0;

}

.imagem-usuario img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    

}

.formulario{
    height: 30vh;
    border: .2px solid black;
    width: clamp(200px, 20vw, 600px);
    padding: 0 30px 30px 30px;
    margin: 30px 0;
    
}

.formulario form div{
    margin-bottom: 20px;
}

.campo input[type="text"],
.campo input[type="password"]{
    width: 100%;
    height: 2em;
    
}

form .campo:nth-child(3){
    display: flex;
    justify-content: end;
}

.action-button{
    width: 100px;
    height: 2em;
    margin-top: 30px;
}






/*====RODAPÉ====*/




footer{
    height: 40vh;
    background: -webkit-linear-gradient(to bottom, #252525, #101010);
    background: -moz-linear-gradient(to bottom, #252525, #101010);
    background: -o-linear-gradient(to bottom, #252525, #101010);
    background: linear-gradient(to bottom, #252525, #101010);

}

